extends ../layouts/main-layout.pug 
    
block css
        link(rel="stylesheet", href="../css/main.css")

block content
        if cartProducts.length > 0
                for product in cartProducts
                        br
                        h1 #{product.title}
                        h3 #{product.price}
                        h4 Qty : #{product.cartItem.qty}
                        br
                        form(action="/delete-cart", method="post")
                                input(type="hidden" name="productId" value=product.id)
                                input(type="hidden" name="price" value=product.price)
                                button(type="submit") Delete Product
                        br
                        hr
                br
        else
                h1 Nothing in cart currently...go get something